<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Task List</h1>
  <div>
  <form action="/addTask" method="POST" id="input-container">
    <input type="text" name="task" placeholder="Add new task">
    <button type="submit">Add</button>
  </form>
  <ul>
    <% tasks.forEach((task, index) => { %>
      <li>
        <%= task %>
        <form action="/removeTask" method="POST" style="display: inline;">
          <input type="hidden" name="taskIndex" value="<%= index %>">
          <button type="submit" id="remove-btn">Remove</button>
        </form>
      </li>
    <% }); %>
  </ul>
</div>
</body>
</html>
